body,
html {
  padding: 5px;
  margin: 0px;

}

#root {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 200px 1fr 50px 200px;
  grid-auto-columns: 1fr;
  /* grid-auto-rows: 1fr 1fr 1fr; */
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    "rooms rooms"
    "messages messages"
    "user-name user-name-input"
    "message-label message-input";
  width: 100%;
  height: 100%;
}

#root>div {
  background-color: blueviolet;
}

.rooms {
  grid-area: rooms;
}

.user-name {
  grid-area: user-name;
}

.user-name-input {
  grid-area: user-name-input;
}

.message-label {
  grid-area: message-label;
}

.message-input {
  grid-area: message-input;
}

.messages {
  grid-area: messages;
}